body {
  font-size: 16pt;
}

#content {
  width: 90%;
  margin: auto;
  text-align: center;

  font-size: 1em;
}

#temperature {
  margin: auto;
  width: 200px;

  font-size: 3em;
}

.scale {
  display: none;
}

.scale.active {
  display: inline;
}